<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>


    <plugins>
        <plugin interceptor="com.github.foreignkey.ForeignKeyInterceptor">
            <property name="config" value="constraints.yml"/>
        </plugin>
    </plugins>


    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.2.3:13306/db_foreign_key?serverTimezone=Hongkong"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/user-mapper.xml"/>
    </mappers>

</configuration>